<% provide(:title, @user.user_name)%>

<section class="user_info">
  <h1>
    <% if @user.profile_image? %>
      <%= image_tag( @user.profile_image.url(:large),class: "profile_image") %>
     <% else %>
       <%= image_tag( "default_user.jpeg", alt: "default_img", width: "200px",class: "profile_image") %>
     <% end %>

    <%= @user.user_name %>
  </h1>
</section>


<section class="edit">
  <p>
    <% if current_user?(@user) %>
      <%= link_to( "プロフィールを編集", edit_user_path(current_user) ) %>
      <br>
      <%= link_to( "パスワードを変更", edit_password_path(current_user) ) %>
    <% end %>
  </p>
</section>

<!--フォローボタン、フォロー解除ボタンを表示-->
<section class="follow_form">
  <%= render 'follow_form' if logged_in? %>
</section>


<!--投稿合計数を表示-->
<section class="microposts_count">
  <% if @user.microposts.any? %>
    <h3>投稿 <%= @user.microposts.count %> 件</h3>
  <% end %>
</section>


<!--フォロワーの統計情報を表示-->
<section class="stats">
  <%= render 'shared/stats' %>
</section>


<!--自己紹介文-->
<section class="user_introduction">
  <% if @user.introduction %>
    <%= @user.introduction %>
  <% end %>
</section>

<!--ウェブサイト-->
<section class="user_website">
  <% if @user.website %>
    <%= @user.website %>
  <% end %>
</section>

<!--投稿写真を表示-->
<% if @microposts.any? %>
　<div class="flexbox">
  <% @microposts.each do |micropost| %>
    <div class="item">
      <ol id= "micropost-<%= micropost.id %>">
        <span class= "content">

          <!-- Button trigger modal -->
        　  <!--data-targetで、「-<%= micropost.id %>」を付けないと
            　　　　全て同じモーダル呼び出し名、モーダル表示名になり、ボタン起動時に、正しくデータが取得できなくなる。
          　　　　　結果、どの写真をクリックしても１枚目のデータが表示されてしまう。-->

          <button type="button" class="btn btn-primary" data-toggle="modal"
                                                  data-target="#exampleModal-<%= micropost.id %>" >
            <%= image_tag micropost.image.url(:medium) if micropost.image %>
          </button>

          <% @micropost = micropost %>
          <!-- Modal -->
          <%= render 'microposts/modal', micropost: @micropost %>

        </span>
      </ol>
    </div>
  <% end %>
  </div>
<% end %>
