<!--全ページ共通のレイアウト-->
<!--yield の中には、各ページが入る-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Instagramアカウントを作成、またはアカウントにログイン ― クリエイティブな写真や動画を簡単に撮影・編集して、友達や家族とシェアしよう。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <!-- GoogleAnalyticsでアクセス解析  -->
    <%= analytics_init if Rails.env.production? %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <% if !logged_in? && !(request.url == about_url) && !(request.url == help_url) %>
      <%= render 'layouts/header' %>
      <div class="background-home"
           style="background: url(<%= asset_path "home.jpg" %>); background-size:cover;">
        <div class="container">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                  <!-- 上記と同じ意味 (リスト7.29)
                  <div class="alert alert-<%= message_type %>">
                    <%= message %>
                  </div>
                  -->
          <% end %>

          <%= yield %>
        </div>
      </div>
      <!--div home-backgrounの終了タグ-->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

    <% else %>
      <%= render 'layouts/header' %>
      <div class="background-login" style="background: #fff;">
        <div class="container">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>

          <%= yield %>
        </div>
      </div>
      <!--div home-backgrounの終了タグ-->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

    <% end %>
  </body>
</html>
